// @require '~vuepress-plugin-tabs/dist/themes/default.styl'

// @require '~bulma/css/bulma.css'
// @require '~bulma-extensions/dist/css/bulma-extensions.min.css'

// @require '/style.css';

// @require '~vuepress-plugin-tabs/dist/themes/default.styl'

html[dir*='rtl']
{
    @require '~vuepress.rtl'
}

img
{
    text-align: center;
}

.el-tabs__item.is-active
{
    color: $accentColor; 
}

.el-tabs__item:hover
{
    color: $accentColor; 
}

.notes
{
    float:right;
    clear:both;
}

.subheading 
{
    font-size: 20px;
    border:none;
    margin-top:2em;
    margin-bottom:2em;
    padding:0;
    color: #333;
}

.pullout
{
    width:200px;
    float:right;
    margin-right:-220px;   
}

.theme-default-content:not(.custom)
{
    margin:0;
}

.page-nav
{
    margin:0 !important;   
}

@media (max-width:1400px)
{
    .pullout
    {
        float: none;
        width:100%;
    }

    // iframe {
    //     width:100%;
    // }
}

.sidebar
{
    width:16rem;
}

.large
{
    font-size: 40px;
    float:left;
}

iframe
{
    width:800px;
    height:450px;
}

table
{
    
    width:100%;
    // display: table;
    overflow: scroll;
}

.page-edit
{
    margin:0 !important;
}

.repo-link
{
    display: none !important;
}

.herocard
{
    min-height:280px;
    position: relative;
    margin-bottom: 2em;

    p
    {
        margin-bottom: 60px;
    }

    button
    {
        position: absolute;
        bottom: 20px;
    }
}

// .herocard button
// {
//     position: absolute;
//     bottom: 20px;
// }

.home
{
    .el-card
    {
        // position: relative;
        margin-top: 1em;

        img
        {
            display: block;
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 200px;
        }
    }
}

span.next, span.prev
{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #FFF;
    border: 1px solid #DCDFE6;
    color: #606266;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    transition: .1s;
    font-weight: 500;
    -ms-user-select: none;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;

    &:hover
    {
        color: #D63434;
        border-color: #f3c2c2;
        background-color: #fbebeb;
    }
}

.page-nav .inner
    border-top: none;

.cc
{
    margin: 1em;
    text-align: center;
    font-size: 80%;
}

.iconwrapper
{
    display block;
    text-align center;
    float:right;
    margin-left:0.2em;
    margin-top:0.5em;
    margin-bottom:1em;
}

.el-col .iconwrapper
{
    float: none;   
}

.el-divider__text
{
    font-size: 18px;
    color: #666;
}

.custom-block.warning
{
    background-color: transparent;
}

